/*
  Main color: #8362f6e8

*/

button:focus {
  outline: none;
}

.contactCard {
  display: inline-block;
  text-align: center;
  width: 15em;
  height: 17em;
  padding: 1em;
  margin: 1em;
  border: 4px solid grey;
  border-radius: 10%;
  background-color: #62b4f6;
  color: white;
  font-weight: bold;
  position: relative;
}

.contactCard > div:not(:first-child){
  font-size: 1.3em;
}

  .contactCard > .editOverlay {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 10%;
  }

    .contactCard > .editOverlay:hover {
      opacity: 0.5;
    }

    .contactCard > .editOverlay > button {
      color: darkgrey;
      font-size: 3em;
      display: block;
      opacity: 1;
      background-color: transparent;
      border: none;
      margin-left: 35%;
      margin-top: 10%;
    }

    .contactCard > .editOverlay > button:hover {
      color: grey;
    }

    .contactCard > .editOverlay > button:active {
      color: black;
    }

.footer{
  position: fixed;
  width: 100%;
  bottom: 1em;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

.addContactBtn {
  margin: 0.5em;
  float: right;
  width: 2em;
  height: 2em;
  font-size: 2em;
  color: white;
  border: 0px;
  border-radius: 50%;
  background-color: #8362f6;
}

.addContactBtn:hover {
  opacity: 0.9;
}

.addContactBtn:active{
  opacity: 0.7;
}
